<!DOCTYPE html>
<html>
  <head>
    <title>Create a Pirate and Ships</title>
  </head>
  <body>
    <form action="/show" method="POST">
      <label for="pirate[name]">Pirate Name: </label>
      <input type="text" name="pirate[name]"><br />
      <label for="pirate[weight]"> Pirate Weight: </label>
      <input type="text" name="pirate[weight]"><br />
      <label for="pirate[height]">Pirate Height: </label>
      <input type="text" name="pirate[height]"><br />
    </form>
  </body>
</html>